@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
#example-ui-container {
    position: fixed;
    top: 5rem;
    left: 0;
    width: 100%;
    background-color: black;
    height: 30rem;
  }
   */

.custom-scroll {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}

.custom-scroll::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}